@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  text-decoration: none;
  transition: .2s;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
}

section {
  display: flex;
  justify-content: center;
}

.app_width {
  width: 1250px;
  max-width: 90%;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

table {
  border-collapse: collapse
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  padding: 100px 0;
}

.empty p {
  color: var(--text-normal);
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
}